<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="BlockDirectory" value=""/>
	<add key="Azure.AccountName" value=""/>
	<add key="Azure.Key" value=""/>
	
	<!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
	<add key="StorageNamespace" value=""/>
	
	<!--Directory where the indexer keep track of its work (optional)-->
	<add key="MainDirectory" value=""/>
</appSettings>