<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!--Azure Storage account-->
	<add key="Azure.AccountName" value="bitcoinnorth"/>
	<!--Azure Storage account key-->
	<add key="Azure.Key" value="oirPVv4O5T2+7P7Ej2jsmtpSS+pIFZ18cM1H4L23a6qlIUCkaLsxKSGQCYn18vg78PWecPe2EN7DyhW5bPHeEA=="/>
	<!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
	<add key="StorageNamespace" value="new"/>
	<!-- Identifier for isolating checkpoints accross several indexer instances (default: default)-->
	<add key="CheckpointSetName" value=""/>
	<!--main or test (default: main)-->
	<add key="Bitcoin.Network" value="main"/>
	<!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
	<add key="Node" value="localhost"/>
</appSettings>